!!! 5
%html{lang: "en"}
%head
    - require_relative 'data.rb'
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= $title[:index]
    %link{rel:"stylesheet", href:"https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=music_home,music_note,science"}
    %link{rel:"stylesheet", href:"css/main.css"}
%body
    %nav
        %ul
            - $nav.each do |nav|
                %li
                    %a.material-symbols-rounded{href:"#{nav[:link]}.html"}= nav[:text]
                    -# = "|" unless nav == $nav.last
    .main-wrapper
        .scroll-bg.bg
            .top-box.box 
                .codename
                    %a{href:"https://github.com/TymixNow/Worldbuilding"}
                        = "TCR building finale"
                .code-expl= "Not yet the end of the project. Quite the opposite."
                .img-box.box
                    %img.proj-ill{src: "27.png", alt: "an image of a semitic stem table"}
                .post-desc-box.box!= "The project is not over yet. It's just the beginning. <br> What is ending is the first stage of the project. <br> That is, building the basic structure of the language. <br> The next stage is to upgrade the vocabulary and grammar of the language, as well as evolve it."