!!! 5
%html{lang: "en"}
%head
    - require_relative '../haml/data.rb'
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= $title[:index]
    %link{rel:"stylesheet", href:"https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home,music_note,science"}
    %link{rel:"stylesheet", href:"main.css"}
%body
    %nav
        %ul
            - $nav.each do |nav|
                %li
                    %a.material-symbols-rounded{href:"#{nav[:link]}.html"}= nav[:text]
                    -# = "|" unless nav == $nav.last
    .main-wrapper
        .scroll-bg.bg
            .top-box.box 
                - content = $contents[0]
                .codename
                    %a{href: "https://github.com/TymixNow/SoundChips"}
                        = content[:title]
                %br
                .img-box.box
                    %img.proj-ill{src: "#{content[:dd]}.png", alt: "#{content[:img_alt]}"}
                .post-desc-box.box
                    - while true
                        - print "> "
                        - data = gets.chomp 
                        - break if data == ""
                        = data
                        %br